<!doctype html>
<html>

    <head>
        <title>COGS120-A5</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/sidenav.js"></script>
        <script src="js/prod-activity.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
    </head>

    <body>

        {{#if viewAlt}}
        <div class="bottomNav">
          <a href="/profile">Profile</a>
          <a href="/page_B" class="active">Home</a>
          <a href="/redeem">Redeem</a>
        </div>
        {{else}}
        <div id="sideNav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/index">Home</a>
          <a href="/profile">Profile</a>
          <a href="/redeem">Redeem Points</a>
        </div>
        {{/if}}

        <div class="mainbody" style = "background-color: #e6e2da">

           <div id="container" style = "background-color: #e6e2da">
               
              <div id="header">    
                
                <div id="add" class = "icon">
                   <a href="/add">
                      <img src="add.png" height=40px style = "float: right" />
                   </a>
               </div>

               {{#if viewAlt}}
                <div id= "hmbgr" class = "icon" style="opacity: 0">
                    <span onclick="openNav()">
                        <img src="hamburger.png" height=40px style = "float: left"/>
                    </span>
               </div>
               {{else}}
               <div id= "hmbgr" class = "icon">
                    <span onclick="openNav()">
                        <img src="hamburger.png" height=40px style = "float: left" />
                    </span>
               </div>
               {{/if}}

               <div id="app-title">
                   <h2 id="app-name"> <b>PRO'D ACTIVITY</b> </h2>
                   <h3 id="home">Home</h3>
                   <hr>
               </div>

              </div>

               <div id="content">

                   <div id="display-points" style="color:#dea300">
                        <h4>Current Points:</h4>
                        <h3>{{currPoints}}pts<h3>
                   </div>

                   <div class="alist">
                        <h4></h4> <!-- place holder h4 element -->
                        <h4 id="view-list"> 
                          <b>Assignment List</b> 
                        </h4>
                        <h5 id="view-recent">
                            <a href="/recent">View Recent</a>
                        </h5>
                   </div>



                {{#each assignments}}
                <div class="assignment" id="{{id}}" style ="background-color: {{color}}">
                  <h4 id="due">DUE: {{date}}</h4>
                  <a href="#" class="thumbnail">
                    <h3>{{course}}</h3>
                    <h4>{{title}}</h4>
                  </a>
                  <div class="thumbnail, hideInfo">
                    <h5 style="color:black">{{description}}</h5>
                    <h4 id="points">Value: {{points}}pts</h4>
                      <button title="{{points}}" class="removeAssignment" id="remove">Remove</button>
                      <button title="{{points}}" class="removeAssignment" id="complete">Complete</button>
                  </div>

                </div>
                <br>
                {{/each}}

                </div>
            </div>
        </div>

    </body>
</html>
