<!doctype html>
<html>

    <head>
        <title>Pro'd Activity</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/sidenav.js"></script>
        <script src="js/prod-activity.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <link href="css/theme2.css" rel="stylesheet">

                <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-159672138-1', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-159672138-1', 'auto');
        ga('require', 'GTM-PT4VD77');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    </head>

    <body>

        {{#if viewAlt}}
        <div class="bottomNav">
          <a href="/profile">Profile</a>
          <a href="/page_B" class="active">Home</a>
          <a href="/redeem">Redeem</a>
        </div>
        {{else}}
        <div id="sideNav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/profile" class="sideNav_Profile">Profile</a>
          <a href="/redeem" class="sideNav_Redeem">Redeem</a>
        </div>
        {{/if}}

        <div class="mainbody" style = "background-color: white">

              <div id="header">    
                
                <div id="header-top">
                 {{#if viewAlt}}
                  <div id= "hmbgr" class = "icon" style="opacity: 0">
                      <span onclick="openNav()">
                          <img src="hamburger.png" height=40px style = "float: left"/>
                      </span>
                 </div>
                 {{else}}
                 <div id= "hmbgr" class = "icon">
                      <span onclick="openNav()">
                          <img src="hamburger.png" height=40px style = "float: left" />
                      </span>
                 </div>
                 {{/if}}

                 <div id="app-title">
                     <h3 id="app-name"> <b>PRO'D ACTIVITY</b> </h3>
                 </div>

                <div id="add" class = "icon">
                     <a href="/add">
                        <img src="add.png" height=40px style = "float: right" />
                     </a>
                </div>

               </div>

              <div class="topView">
                  <a href="/index">TO DO: </a>
                  <a href="/recent" class="active">DONE: </a>
              </div>

            </div>

           <div id="container" style = "background-color: white">
               


              <!-- <h3 id="home">Home</h3> -->

               <div id="content">
                <hr id="header-boarder">

                <div id="header-content">

                  <div id="header-curdate">

                    <h4 id="header-date"></h4>
                    <h5 id="header-day"></h5>
                    <script>
                      
                      var monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
                      var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                      var n =  new Date();
                      var y = n.getFullYear();
                      var m = monthNames[n.getMonth()];
                      var d = n.getDate();
                      var dname = days[n.getDay()];
                      document.getElementById("header-date").innerHTML = d + " " + m + " " + y;
                      document.getElementById("header-day").innerHTML = dname;
                    </script>

                  </div>
                  <div></div>
                  <div id="toggle-switch">

                    <img src="list.png" height="25px">
          
                      <label class="switch">
                        <input type="checkbox" onclick="toggleSwitch()"/> 
                        <span class="slider round"></span>
                      </label>
               

                    <img src="calendar.png" height="25px">

                  </div>


                </div>

                <div id="point-header">
                  <hr id="point-line1">

                  <div id="display-points" style="color:#dea300">
                      <h4>Current Points: {{currPoints}}pts</h4>
                  </div>

                  <hr id="point-line2">
                </div>


                {{#if noRecent}}
                <div id="no-recent">
                  <h5> <b>You have not completed any assignments... Get to work!</b> </h5>
                </div>
                {{/if}}

                <div class="calendar-display" id="calendar"></div>
                <script type="text/javascript" src="js/calendar.js"></script>
                <script type="text/javascript" src="js/initCalendar.js"></script>

                {{#each recent}}
                <div class="assignment" id="{{id}}" style ="background-color: {{color}}">
                  <div id="assignment-header">
                    <h5 id="prio"> <b>{{priority}}</b> </h5>
                    <h4 id="due">DUE: {{date}}</h4>
                    <img id="check-mark"src="done.png">
                  </div>
                  <a href="#" class="thumbnail">
                    <h3>{{course}}</h3>
                    <h4>{{title}}</h4>
                  </a>
                  <h4>{{points}}pts</h4>
                  <div class="thumbnail, hideInfo">
                    <h5 style="color:black">{{description}}</h5>
                  </div>

                </div>
                <br>
                {{/each}}

                </div>
            </div>
        </div>

    </body>
</html>