<!doctype html>
<html>

    <head>
        <title>Redeem Points</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/prod-activity.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/add.css" rel="stylesheet">
        <link href="css/redeem.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">

                <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-159672138-1', 'auto');
        ga('send', 'pageview');

                ga('create', 'UA-158792091-1', 'auto');
        ga('require', 'GTM-PT4VD77');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    </head>

    <body>

        {{#if viewAlt}}
        <div class="bottomNav">
          <a href="/profile">Profile</a>
          <a href="/page_B">Home</a>
          <a href="/redeem" class="active">Redeem</a>
        </div>
        {{/if}}

      <div class="mainbody" style = "background-color: white">

        <div class="redeemCon" id="container" style = "background-color: white">


          <div id="container">
            <div id="header">
              {{#if viewAlt}}
              {{else}}
              <div id="icon">
                <a href="/index">
                  <img class="bicon" src="back.png" height=30px style = "float: left" />
                </a>
              </div>
              {{/if}}

              <div id="header-redeem">
              <h4> <b>Redeem Points</b> </h4>
              </div>
            </div>
          <hr id="border"/>

          <div id="displayPoints" style="color:#dea300">
                        <h4>Current Points</h4>
                        <h3 id="curr-points">{{currPoints}}pts<h3>
                   </div>
          </div>

          <div class="profilediv">
            <div id="profile">
              <div id="profile-center">
                <img class="proPic" id=PROFILE src="defaultpp.png">
                {{#if thuglifeBought}}
                <img class="thuglife2" id=thuglife2 src="thuglife2.png">
                {{/if}}
                {{#if frameBought}}
                <img class="frame2" id=frame2 src="frame2.png">
                {{/if}}
                {{#if goldchainBought}}
                <img class="goldchain2" id=goldchain2 src="goldchain2.png">
                {{/if}}

              </div>
            </div>
          </div>
          
          <div class="listheader">
          <h4>Profile frames</h4>
          </div>
          <div class="items">
            <div class="frame">
              <div class="column" id="thuglife-item">
                <div class="eachitem">
                 <img src="thuglife.png" id="thuglife">
                </div>
                <h5>Thug LIfe</h5>
                {{#if thuglifeBought}}
                {{else}}
                <button name="button" id="thuglifeBtn">30pts</button>
                {{/if}}
              </div>
              <div class="column" id="frame-item">
                <div class="eachitem">
                  <img src="frame.png" id="frame">
                </div>
                <h5>frame</h5>
                {{#if frameBought}}
                {{else}}
                <button name="button" id="frameBtn">80pts</button>
                {{/if}}
              </div>
              <div class="column" id="goldenchain-item">
                <div class="eachitem">
                  <img src="goldchain.png" id="goldchain">
                </div>
                <h5>goldchain</h5>
                {{#if goldchainBought}}
                {{ else}}
                <button name="button" id="goldchainBtn">40pts</button>
                {{/if}}
              </div>
              <hr id="border"/>
            </div>

            <div id="placeholder"><p>.</p></div>
          </div>

          <div class="listheader2">
          <h4>Random Picture for 5pts!</h4>
          </div>

          <div class="memePic">
            <img src="qmark.jpeg" id="memeimg" />
          </div>

          <div class="memebutton">
            <button name="button" id="MemeBtn">Get it</button>
          </div>

        </div>

      </div>

        
    </body>
</html>